* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}
.main{
  background-image: url(chalkboard.jpg);
  background-size: cover;
  color: white;
  padding: 100px 0px;
}
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.judul{
  color: white;
}
.judul h2{
  letter-spacing: 5px;
  margin-bottom: 15px;
  font-size: 50px
}
.judul p{
  font-size: 30px;
}
